// ... (상단 #define 및 &mmv, &msc 설정은 동일)

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Colemak-DH: N(16) + E(17) = ENTER
        cmb_enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17>;
            timeout-ms = <50>;
        };

        // Colemak-DH: E(17) + I(18) = BACKSPACE
        cmb_bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <17 18>;
            timeout-ms = <50>;
        };

        // Colemak-DH: N(16) + I(18) = ESC (새로 추가됨)
        cmb_esc {
            bindings = <&kp ESC>;
            key-positions = <16 18>;
            timeout-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
            &kp Q       &kp W       &kp F        &kp P        &kp B          &kp J        &kp L        &kp U        &kp Y       &kp SEMI
            &hm LGUI A  &hm LALT R  &hm LCTRL S  &hm LSHFT T  &kp G          &kp M        &hm RSHFT N  &hm RCTRL E  &hm LALT I  &hm RGUI O
&tog SEBEOL &kp Z       &kp X       &kp C        &kp D        &kp V          &kp K        &kp H        &kp COMMA    &kp DOT     &kp FSLH    &kp SQT
                                    &mo MOUSE    &lt NUM RET  &lt FN TAB    &kp SPACE    &lt SYM BSPC  &kp DEL
            >;
        };

        // ... (num, sym, fn, mouse_layer는 이전과 동일)

        sebeol_layer {
            label = "3BEOL";
            bindings = <
            &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y  &kp U  &kp I  &kp O  &kp P
            &kp A  &kp S  &kp D  &kp F  &kp G      &kp H  &kp J  &kp K  &kp L  &kp SEMI
&tog SEBEOL &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &trans
                          &trans &trans &trans     &trans &trans &trans
            >;
        };
    };
};
